@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')
	;

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Poppins', 'SUIT-Regular', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	scroll-padding-top: 2rem;
}
/*some varibles(색깔)*/
:root { -
	-main-color: #00ff9f; -
	-hover-color: hsl(37, 94%, 57%); -
	-body-color: #2c2c2c; -
	-container-color: #566078; -
	-text-color: #fcfeff;
}

/* 커스텀 스크롤 바 */
html::-webkit-scrollbar {
	width: 0.5rem;
	background: transparent;
}

.html::-webkit-scrollbar-thumb {
	background: var(- -main-color);
}
/* 선택 색깔 */
::selection {
	background: var(- -main-color);
	color: var(- -text-color);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

section {
	padding: 3rem 0 2rem;
}

img {
	width: 100%;
}

.bx {
	cursor: pointer;
}

body {
	background: var(- -body-color);
	color: var(- -text-color);
}

.container {
	max-width: 2000px;
	margin: auto;
	width: 100%;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(- -body-color);
	z-index: 100;
}
/* nav 시작*/
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
/* logo 시작*/
.logo {
	font-size: 1.4rem;
	color: var(- -text-color);
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 auto 0 0;
}

.logo span {
	color: var(- -main-color);
}
/* search box(검색) 시작*/
.search-box {
	max-width: 240px;
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 0.7rem;
	padding: 8px 15px;
	background: var(- -container-color);
	border-radius: 4rem;
	margin-right: 1rem;
}

.search-box .bx {
	font-size: 1.1rem;
}

.search-box .bx:hover {
	color: var(- -main-color);
}

#search-input {
	width: 100%;
	border: none;
	outline: none;
	color: var(- -text-color);
	background: transparent;
	font-size: 0.938rem;
}

/* user 시작*/
.user {
	display: flex;
}

.user-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
/* navbar 시작*/
.navbar {
	position: fixed;
	top: 40%;
	transform: translateY(-40%);
	left: 18px;
	display: flex;
	flex-direction: column;
	row-gap: 2.1rem;
}
/* 버튼의 색깔이 회색빛 */
.nav-link {
	display: flex;
	margin: 10px;
	flex-direction: column;
	align-items: center;
	color: #b7b7b7;
}
/* nav-active를 줌으로서 첫번째 버튼이 색이 진하게 된것을 알수 있다 */
.nav-link:hover {
	color: var(- -text-color);
	transition: 0.3s all ease;
	transform: scale(1.6);
}

.nav-link .bx {
	font-size: 2.2rem;
}

.nav-link-title {
	font-size: 0.7rem;
}

.sugg-content {
	width: 50%;
	height: 30vh;
	/*	background-color: red;*/
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	text-align: center;
}

/*====================================================*/

/*---------------검색-------------------------*/
.searchInput {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #00e7ff;
	border-radius: 2px;
	color: white;
}

.searchInput:focus {
	outline: 2px solid orange;
	border: 2px solid transparent;
}

.categorySelect {
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 2px solid #00e7ff;
}

.categorySelect .categoryOption {
	background-color: black;
}

/*====================================================*/
.rankHead {
	background-color: transparent;
	border: 2px solid #00e7ff;
	width: 1200px;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
	margin-left: 20%;
	padding: 10px;
}

.rankContents {
	width: 1200px;
	background-color: transparent;
	margin: auto;
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 10%;
	text-align: center;
	border: 2px solid #00ff9f;
}

.rank-table {
	border-collapse: separate;
	/*border-spacing: 60px 40px;*/
	border-spacing: 20px 20px;
	width: 100%;
}

.table-icon {
	width: 50px;
	height: auto;
}

.rankContents {
	align-items: center;
}

.rankContents>H2 {
	align-items: center;
	vertical-align: center;
	height: 50px;
	padding-top: 10px;
	border-bottom: 2px solid #00ff9f;
}

.table-icon>img {
	width: 100%;
}

.rank-streamer {
	display: flex;
	align-items: center;
}

.rank-streamer-info {
	margin: 0 8px;
}

.rank-streamer-info-logo {
	width: 20px;
	height: 20px;
	position: relative;
	z-index: 2;
	left: -20px;
	border-radius: 10pt;
}

.rank-viewer-total {
	position: relative;
	left: 0px;
}

.rank-streamer {
	margin-left: 20px;
	/*margin-right: 100px;*/
	width: 100%;
}

.rank-viewer-total-graph {
	background: #4d4d4d;
	padding: 0px;
	box-sizing: border-box;
	border-radius: 2px;
	overflow: hidden;
}

.rank-bar {
	background-color: #00e7ff;
	width: 100%;
	height: 5px;
	float: right;
}

.rank-bar2 {
	background-color: #F9FF40;
	width: 100%;
	height: 5px;
	float: right;
}

.rank-bar3 {
	background-color: #60ff40;
	width: 100%;
	height: 5px;
	float: right;
}

.blackSpace {
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to bottom, transparent, black)
		!important;
	align-items: center;
	display: block;
	color: #00e7ff;
}

.blackSpace .locked {
	width: 50px;
	height: 50px;
	z-index: 10;
	top: 20%;
	position: relative;
	opacity: 50%;

	/*color: white;*/
}

.rankHead a:visited {
	color: blue;
}

.avgV-bar {
	background-color: #00e7ff;
	width: 100%;
	height: 5px;
	float: right;
	color: white;
	padding-right: 5px;
	align-self: center;
	margin: 20px;
}

.likes-bar {
	background-color: #F9FF40;
	height: 5px;
	float: right;
	color: white;
	padding-right: 5px;
	align-self: center;
	margin: 2px;
}

.likes-div {
	display: inline-block;
}

.daily-div {
	display: inline-block;
}

.daily-bar {
	background-color: #ff82c9;
	height: 5px;
	float: right;
	color: white;
	padding-right: 5px;
	align-self: center;
	margin: 2px;
}

/* 
.likes-bar{
	background-color: #F9FF40;
	width: 100%;
	height: 5px;

	color:white;
	padding-right:5px;
	text-align: right;
	
	align-self: center;
	
	margin: 20px;
} */

/*=========footer===========*/
.footer {
	text-align: left;
	align-items: center;
	margin-top: 30px;
}

.footerContainer {
	width: 100%;
	height: 160px;
	background-color: transparent;
	text-align: center;
	align-items: center;
	background-color: #3b3b3b;
	padding: 15px 0;
	box-sizing: border-box;
	margin: auto;
	justify-content: space-between;
}

.footerRow {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-left: 40%;
}

.footerCol>h2 {
	color: #979797;
}

.footerCol>p {
	color: #5c5c5c;
}

.footerCol2 {
	margin-left: 50px;
	display: flex;
}

.footerCol2 li a {
	color: white;
	font-size: 10pt;
}

.footerIcon {
	width: 30px;
	height: 30px;
}

/* ------ */
.rank_desc {
	overflow: hidden;
}

.table-responsive {
	width: 100%;
}

.filterTable {
	width: 100%;
}

.rankPlace {
	width: 50px;
}