/*=========================carousel items==========================*/

.carousel-test {
    height: 450px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
  }
  
  .carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  /*  overflow: hidden;*/
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
  /*  pointer-events: none;*/
    text-align: center;
    margin:auto;
    margin-right: auto;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  margin-right: auto;
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #1F1E20;
   /* border: 10px solid #90f1ef; */
   border-style: solid;
   border-width: 10px;
   /*border-image: linear-gradient(90deg, rgb(247, 60, 60), rgb(247, 153, 60)) 1;*/
border-image: linear-gradient(90deg, #7B33FF,#338FFF) 1;
   /*border-image: linear-gradient(90deg, #00e7ff,#00e7ff) 1;*/
   /*border-image: linear-gradient(90deg, #00e7ff,#00fdb6) 1;*/
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #1F1E20;
   /* border: 10px solid #FF6363;*/
    border-style: solid;
   border-width: 10px;
   /*border-image: linear-gradient(90deg, rgb(247, 153, 60), rgb(247, 236, 60)) 1;*/
   border-image: linear-gradient(90deg, #338FFF , #33FFBA) 1;
   /*border-image: linear-gradient(90deg, #00fdb6,#00ff32) 1;*/
   /*border-image: linear-gradient(90deg, #00fdb6,#00ff32) 1;*/
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #1F1E20;
   /* border: 10px solid #C463FF;*/
    border-style: solid;
    border-width: 10px;
    /*border-image: linear-gradient(90deg, rgb(247, 236, 60), rgb(93, 247, 60)) 1;*/
    border-image: linear-gradient(90deg, #33FFBA, #9bff59) 1;
    /*border-image: linear-gradient(90deg, #00ff32,#00fdb6) 1;*/
    /*border-image: linear-gradient(90deg, #00ff32,#00ff32) 1;*/
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #1F1E20;
    /*border: 10px solid #F6FF63;*/
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(90deg, rgb(93, 247, 60), rgb(60, 198, 247)) 1;
    /*border-image: linear-gradient(90deg, #9bff59, #33FFBA) 1;*/
    /*border-image: linear-gradient(90deg, #00fdb6,#00e7ff) 1;*/
    /*border-image: linear-gradient(90deg, #00ff32,#00fdb6) 1;*/
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #1F1E20;
    /*border:10px solid #65FF63;*/
    border-style: solid;
    border-width: 10px;
    /*border-image: linear-gradient(90deg, rgb(60, 198, 247), rgb(88, 60, 247)) 1;*/
    border-image: linear-gradient(90deg, #00e7ff,#00e7ff) 1;
    /*border-image: linear-gradient(90deg, #00fdb6,#00e7ff) 1;*/
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ .carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ .carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ .carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ .carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ .carousel {
    --position: 5;
  }
  
  .carImg{
      width: 25vh;
      height: auto;
      }
      
      
  .carousel-test>input{
      display: none;
  }
  
  .item >h4{
      color: white;
  }