/*some varibles(색깔)*/
:root{
    --main-color: #00ff9f;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #2c2c2c;

    --container-color: #566078;
    --text-color:#fcfeff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: var(--body-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--main-color);

}
li{
    list-style: none;
}
/* logo 시작*/
.logo{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}