:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #202528;
    --color-info-dark: #7d8da1;
    --color-dark: #fff;
    --color-text: #202528;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-dark-variant: #a3bdcc;
    --color-background: #181a1e;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    margin: auto;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-text);
    background-color: var(--color-background);
}

button{
    cursor: pointer;
    color: var(--color-danger);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 3px;
    background: var(--color-text);
    width: 100%;
    border-radius: 5px;
}

p {
    color: var(--color-primary);
}

a{
	text-align: center;
    color: var(--color-danger);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 5px;
}

.container{
    top: 150px;
    left: 1.8%;
    background-color: var(--color-text);
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 96%;
    margin: auto;
    margin-top: 35px;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

.container .profile-box img{
    border-radius: 50%;
}

.profile-box{
    color: var(--color-primary);
}

.profile-box input {
	text-align: center;
    color: var(--color-primary);
    padding: 5px;
}

.memberProfile {
    text-align: center;
    margin: 10px;
}

.memberProfile input{
    border-radius: 1.5rem;
    width: 50%;
}

input:disabled{
    background-color: var(--color-dark);
}

.button {
    display: flex;
    flex-direction: column;
}

.board-info {
	width: 96%;
	background-color: var(--color-text);
	padding: 20px;
	margin: auto;
	margin-top: 35px;
	border-radius: 2.5rem;
}

.reading-user-board{
	color: var(--color-primary);
	margin: auto;
}

.board-table-thead{
    height: 50px;
    color: #00ff9f;
}


.board-table-thead-tr{
    
    border-bottom: 3px solid #00ff9f;
    border-radius: 5px;
}

.board-table-tbody{
    margin: 10px;
}
.board-table-tbody-tr{
    margin: 10px;
    padding: 10px;

}

.board-table-tbody-td{

    height: 30px;

    background-color: rgba(86,96,120,0.2);


    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;

    padding: 20px;

}

.td-no{
    width: 50px;
    text-align: center;
}

.td-author{
    width: 150px;
    text-align: center;
}

.td-date{
    width: 200px;
    text-align: center;
}