:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #202528;
    --color-info-dark: #7d8da1;
    --color-dark: #fff;
    --color-text: #202528;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-dark-variant: #a3bdcc;
    --color-background: #c2c2c2;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-text);
    background-color: var(--color-background);
}

button{
    cursor: pointer;
    color: var(--color-primary);
    border: 1px solid var(--color-text);
    border-radius: 5px;
    padding: 3px;
    background: var(--color-dark);
    display: block;
    width: 100%;
    border-radius: 5px;
}

p {
    color: var(--color-primary);
}

a{
	text-align: center;
    color: var(--color-primary);
    border: 1px solid var(--color-text);
    border-radius: 5px;
    padding: 5px;
}

.container{
    top: 150px;
    left: 1.8%;
    background-color: var(--color-dark);
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 96%;
    margin: auto;
    margin-top: 35px;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

.container .profile-box img{
    border-radius: 50%;
}

.profile-box{
    color: var(--color-primary);
}

.profile-box input {
	text-align: center;
    color: var(--color-primary);
    padding: 5px;
}

input:disabled{
    background-color: var(--color-dark);
}

.button {
    display: flex;
    flex-direction: column;
}