@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Poppins', 'SUIT-Regular', sans-serif ;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
/*some varibles(색깔)*/
:root{
    --main-color: #00ff9f;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #2c2c2c;

    --container-color: #566078;
    --text-color:#fcfeff;
}

/* 커스텀 스크롤 바 */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
.html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
/* 선택 색깔 */
::selection{
    background: var(--main-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
section{
    padding: 3rem 0 2rem;
}
img{
    width: 100%;
}
.bx{
    cursor: pointer;
}
body{
    background: var(--body-color);
    color: var(--text-color);
}
.container{
    max-width: 2000px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
/* nav 시작*/
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/* logo 시작*/
.logo{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
/* search box(검색) 시작*/
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color: var(--main-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}

/* user 시작*/
.user{
    display: flex;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* navbar 시작*/
.navbar{
    position: fixed;
    top: 40%;
    transform: translateY(-40%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
/* 버튼의 색깔이 회색빛 */
.nav-link{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
/* nav-active를 줌으로서 첫번째 버튼이 색이 진하게 된것을 알수 있다 */
.nav-link:hover{
    color: var(--text-color);
    transition: 0.3s all ease;
    transform: scale(1.6);
}
.nav-link .bx{
    font-size: 2.2rem;
}
.nav-link-title{
    font-size: 0.7rem;
}

.sugg-content{
	width: 50%;
	height: 30vh;
/*	background-color: red;*/
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	text-align: center;
}



/*=================board================*/

.board_section{
    align-items: center;

    margin-top: 100px;
}

.board-div{
    align-items: center;
    text-align: center;
}

.board-table{
    width: 1300px;
   

    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;

}


.board-table-thead{
    height: 50px;;
}


.board-table-thead-tr{
    
    border-bottom: 3px solid #00ff9f;
    border-radius: 5px;
}


.board_pageControl a:link{
    color: #00ff9f;
}
.board_pageControl a:visited{
    color: aqua;
}


/*=======tbody======*/

.board-table-tbody{
    margin: 10px;
}
.board-table-tbody-tr{
    margin: 10px;
    padding: 10px;

}

.board-table-tbody-td{

    height: 30px;

    background-color: rgba(86,96,120,0.2);
    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;

	color: white;
    padding: 20px;

}

.td-title{
    padding-left: 50px;
}

.td-no{
    width: 50px;
    text-align: center;
}

.td-author{
    width: 150px;
    text-align: center;
}

.td-date{
    width: 200px;
    text-align: center;
}

.td-clicks{
    width: 100px;
    text-align: center;
}


/*==========pageControl===========*/



.board_pageControl{
    text-align: center ;
    margin-top: 30px;
    display: flex;

    margin-left: auto;
    margin-right: auto;

    width: 1300px;
}

.board_search{
    float:left;

    align-items: left;

    margin-right: auto;
}



.board-listNum{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.board_write{
    float: right;
    margin-left: auto;
    
}

.board-write-button{
    background-color: transparent;
    border: 2px solid #00ff9f;
    border-radius: 5px;

    width: 70px;
    height: 30px;
    color: white;
}


.board-search-select{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #00ff9f;
    color: white;
}

.board-search-select option{
    background: #2c2c2c;
}

.board-search-input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #00ff9f;
    border-radius: 2px;
}

.board-search-input:focus{
    outline: none;
    border-color: #00ff9f;
    box-shadow: 0 0 5px #00ff9f;
    border-radius: 4px;
}

.board-search-submit{
    background-color: transparent;
    border-color: #00ff9d86;
    border-radius: 4px;
    width: 60px;
    color: rgba(255, 255, 255, 0.356);
}