@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Poppins', 'SUIT-Regular', sans-serif ;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
/*some varibles(색깔)*/
:root{
    --main-color: #00ff9f;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #2c2c2c;

    --container-color: #566078;
    --text-color:#fcfeff;
}

/* 커스텀 스크롤 바 */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
.html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
/* 선택 색깔 */
::selection{
    background: var(--main-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    padding: 3rem 0 2rem;
}
img{
    width: 100%;
}
.bx{
    cursor: pointer;
}
body{
    background: var(--body-color);
    color: var(--text-color);
}
.container{
    max-width: 2000px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
/* nav 시작*/
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/* logo 시작*/
.logo{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
/* search box(검색) 시작*/
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color: var(--main-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}

/* user 시작*/
.user{
    display: flex;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* navbar 시작*/
.navbar{
    position: fixed;
    top: 40%;
    transform: translateY(-40%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
/* 버튼의 색깔이 회색빛 */
.nav-link{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
/* nav-active를 줌으로서 첫번째 버튼이 색이 진하게 된것을 알수 있다 */
.nav-link:hover{
    color: var(--text-color);
    transition: 0.3s all ease;
    transform: scale(1.6);
}
.nav-link .bx{
    font-size: 2.2rem;
}
.nav-link-title{
    font-size: 0.7rem;
}

.sugg-content{
	width: 50%;
	height: 30vh;
/*	background-color: red;*/
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	text-align: center;
}


/*=============================*/

.board-write-section{

    text-align: center;
    align-items: center;

}

.board-write-div{
    display: block;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    text-align: center;
    align-items: center;

   /*background-color: red;*/

}

.board-write-form{
    width: 1200px;
    display: inline-block;
    margin-left: auto;
    text-align: center;
}

.board-write-table{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;

}


.board-write-form-info{
    height: 40px;
}

.write-form-author, .write-form-password1{
    text-align: right;
    width: 200px;
    padding-right: 10px;
}

.write-form-author-input{
    color: white;
    border: none;
    border-right: 200px solid transparent;

    padding-bottom: 20px;
}

.write-form-password1-input{
    border-right: 50px solid transparent;
}

.write-form-input{
    width: 380px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid #00ff9f;
    padding-left: 10px;
}

.write-form-input:focus{
    outline: none;
}


.board-write-form-title{
    height: 50px;

}

.write-form-title-info{
    margin-top: 20px;
    height: 35px;
    text-align: right;
    align-self: center;

    padding-right: 10px;

    

}


.extra-td{
    width: 100px;
}

#board-write-content{
    background-color: rgba(86,96,120,0.5);
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.write-form-title-input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #00ff9f;
    height: 40px;
    width: 100%;
    
    color: white;
    padding-left: 10px;
}

.write-form-title{
    padding-right: 50px;
    padding-bottom: 20px;
}


/*boardfoot*/

.board-write-form-end-td{
    padding-left: 5px;
    padding-top: 10px;
}

.write-button-toList{
    float: left;
}

.write-button{
    width: 100px;
    height: 35px;
	font-size: 23px;
    background-color: transparent;
    border: 2px solid #00ff9f;
    border-radius: 5px;
    color: white;
}

.write-button-submit{
    width: 100px;
    background-color: rgba(0, 255, 159, 0.3);
}