@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
/*some varibles(색깔)*/
:root{
    --main-color: #00ff9f;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #2c2c2c;

    --container-color: #566078;
    --text-color:#fcfeff;
}

/* 커스텀 스크롤 바 */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
.html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
/* 선택 색깔 */
::selection{
    background: var(--main-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    padding: 3rem 0 2rem;
}
img{
    width: 100%;
}
.bx{
    cursor: pointer;
}
body{
    background: var(--body-color);
    color: var(--text-color);
}
.container{
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
/* nav 시작*/
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/* logo 시작*/
.logo{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
/* search box(검색) 시작*/
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color: var(--main-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}

/* user 시작*/
.user{
    display: flex;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* navbar 시작*/
.navbar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
/* 버튼의 색깔이 회색빛 */
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
/* nav-active를 줌으로서 첫번째 버튼이 색이 진하게 된것을 알수 있다 */
.nav-link:hover{
    color: var(--text-color);
    transition: 0.3s all ease;
    transform: scale(1.6);
}
.nav-link .bx{
    font-size: 1.6rem;
}
.nav-link-title{
    font-size: 0.7rem;
}

.sugg-content{
	width: 50%;
	height: 30vh;
/*	background-color: red;*/
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	text-align: center;
}




/* 스트리머 정보  출력*/

.watch-btn{
  margin: 20px 10px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--container-color);
}

.play-btn{
  cursor: pointer;
}


/*====================================================*/



.rankContents{
    width: 1200px;
    background-color: transparent;
    margin: auto;
    margin-top: 400px;
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
    border: 2px solid #00ff9f;
}




.rank-table{
    border-collapse: separate;
    border-spacing: 60px 40px;

}



.table-icon{
    width: 50px;
    height: auto;

}


.rankContents{
    align-items: center;
}

.rankContents>H2{
    align-items: center;
    vertical-align: center;
    height: 50px;
    padding-top: 10px;
    border-bottom: 2px solid #00ff9f;
}

.table-icon > img{
    width: 100%;
}

.rank-streamer{
    display: flex;
    align-items: center;
}

.rank-streamer-info{
    margin: 0 8px;
}

/*
.rank-streamer-info-logo{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 400px;
}
*/

.rank-streamer-info-logo{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 2;
    left: -20px;
}
.rank-viewer-total{
    position: relative;
    left: 0px;
}

.rank-streamer{
    margin-left: 20px;
    margin-right: 100px;
}


.rank-viewer-total-graph{

    background: #4d4d4d;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;

}

.rank-bar{
    background-color: #00e7ff;
    width: 100%;
    height: 5px;
    float: right;
}

.rank-bar2{
    background-color: #F9FF40;
    width: 100%;
    height: 5px;
    float: right;
}

.rank-bar3{
    background-color: #60ff40;
    width: 100%;
    height: 5px;
    float: right;
}