
:root{
    --color-primary: #00ff32;
    --color-primary2: #00e7ff;
    --color-primary3: #2e6969af;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-dark-font: #edeffd;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #2c2c2c;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body {
    color: var(--color-white);
    background-color: var(--color-background);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
/*some varibles(색깔)*/
:root{
    --main-color: #00ff9f;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #2c2c2c;

    --container-color: #566078;
    --text-color:#fcfeff;
}

/* 커스텀 스크롤 바 */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
.html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
/* 선택 색깔 */
::selection{
    background: var(--main-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    padding: 3rem 0 2rem;
}
img{
    width: 100%;
}
.bx{
    cursor: pointer;
}
body{
    background: var(--body-color);
    color: var(--text-color);
}
.container{
    max-width: 2000px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
/* nav 시작*/
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/* logo 시작*/
.logo{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
/* search box(검색) 시작*/
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color: var(--main-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}

/* user 시작*/
.user{
    display: flex;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* navbar 시작*/
.navbar{
    position: fixed;
    top: 40%;
    transform: translateY(-40%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
/* 버튼의 색깔이 회색빛 */
.nav-link{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
/* nav-active를 줌으로서 첫번째 버튼이 색이 진하게 된것을 알수 있다 */
.nav-link:hover{
    color: var(--text-color);
    transition: 0.3s all ease;
    transform: scale(1.6);
}
.nav-link .bx{
    font-size: 2.2rem;
}
.nav-link-title{
    font-size: 0.7rem;
}

.sugg-content{
	width: 50%;
	height: 30vh;
/*	background-color: red;*/
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	text-align: center;
}




.carousel{
    user-select: none;
}




/* 스트리머 정보  출력*/

.watch-btn{
  margin: 20px 10px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--container-color);
}

.play-btn{
  cursor: pointer;
}


.reviews_header{
    width: 100%;
    height: 20rem;
    margin: 20px auto;
    text-align: center;
}

/* 스트리머 정보  */
.reviews_header .header_streamerInfo{
    display: flex;
    align-items: center;
    height: 40%;
    margin-left: 1rem;
    gap: 5%;

}
.reviews_header .header_streamerInfo .streamerInfo_cont{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    background-color: var(--color-primary3);
    border-radius: 1rem;
    padding: 0 3rem;

}
.reviews_header .header_streamerInfo .streamerInfo_img{
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
}
.reviews_header .header_streamerInfo .streamerInfo_img img{
    width: 100%;
    height: 100%;
}


/* 댓글   */
.reviews_header .header_recentComments{
    margin-top: 2rem;
    border-top: 3px solid #2e6969af;
}

.reviews_header .related_streamers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

}
.reviews_header .related_streamers .streamer_icon{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.5rem;
}
.reviews_header .related_streamers .streamer_icon img{
    width: 100%;
}

.cmt_wrap{
    display: flex;
    margin: 1rem;
}
.cmt_wrap .profile_area{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.cmt_wrap .profile_area img{
    width: 100%;
    height: 100%;
}
.cmt_wrap .cont_area .cmt_head{
    margin-left: 0.5rem;
    font-size: 12px;
    text-align: left;
}
.cmt_wrap .cont_area .cmt_cont{
    margin-left: 0.5rem;
    text-align: left;
}

/* 별점 */
.star-container{
    text-align: center;
}
.star-widget input{
    display: none;
}
.star-widget label{
    font-size: 10px;
    color: #444;
    padding: 10px;
    transition: all 0.2s ease;
    float: right;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
.stars{
    display: inline-block;
}

input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}


/* 방송 썸네일 목록 */

.reviews_container{
    position: relative;
    min-height: 50vh;
    
}
.reviews_container .streaming_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    border: 3px solid #2e6969af;
    
}
.reviews_container .streaming_list .streaming_item{
    margin: 1rem;
    padding: 0.5rem;
    height: 14rem;
    width: 20rem;
    box-shadow: var(--box-shadow);
    transition: all 0.2s linear;
    border-radius: 0.5rem;
    background-color: var(--color-dark-variant);
    color: var(--color-dark-font);

}
.bx {
    cursor: pointer;
}
.streaming_info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.streaming_cont i{
    margin-top: 1.5rem;
}
.streaming_img{
    width: 380px;
    height: 220px;
    overflow: hidden;
}
.streaming_img img{
    width: 100%;
}
.streaming_info_right{
    display: flex;
}
.reviews_container .streaming_list .streaming_item:hover{
    transform: scale(1.1);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
}