@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #1F1E20;
}

ul{
	list-style: none;
}

header{
	padding-top: 10vh;
}

.active{
	color: #fc036b;
	text-decoration: underline;
	font-weight: bold;
}

body, html{
	overflow-x: hidden;	
}

body{
	overflow-y: hidden;
}

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	display: flex;
	padding: 20px;
	color: #51F7FF;
}

.sideCont{
	width: auto;
	height: auto;
	background-color: transparent;
	
}

.sideCont .sideNav{
	right: 0;
	left: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin:0;
	
}

.sideNav .open_button{
	width: 35px;
	height: 35px;
	cursor: pointer;
	margin-right: 10px;
}

.sideCont .box{
	position: fixed;
	top: 0px;
	right: -500px;
	width: 250px;
	height: 100vh;
/*	background-color: #fff;*/
/*	background: rgba(255, 255, 255, 0.7);*/
	background: rgba(0, 0, 0, 0.7);
	box-shadow: -2px 0px 20px -12px rgb(0 0 0);
	transition: 0.2s;
	z-index: 1001;
	color: white;
}

.sideNav{
	
	width: 35px;
	height: 35px;
	cursor: pointer;
	
}

#checkbox:checked ~ .box{
	right: 0px;
}

#checkbox{
	display: none;
}

.box .close_button{
	width: 30px;
	height: 30px;
	float: right;
	margin: 20px;
	cursor: pointer;
}

.box nav{
	padding-top: 80px;
}

.box nav ul li{
	margin: 20px 10px;
	position: relative;
}

.box nav ul li span{
	position: absolute;
	top: 100%;
	left: 0px;
	height: 4px;
	width: 0%;
	background-color: #61F8FF;
	transition: 0.2s;
	display: block;
}

.box nav ul li:hover span{
	width: 80%;
}

.box nav ul li a{
	text-decoration: none;
	color: whitesmoke;
	font-size: 30px;
	padding: 10px 15px;
	display: block;
}

h1.logo{
/*	color: #1B1C1E;
	background: linear-gradient(to top, #D51414, #E5F421, #2140F4, #BA21F4);
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px transparent;*/
	
	color: transparent;
	-webkit-text-stroke: 0.5px #61F8FF;
	 text-shadow:

    0 0 10px #0ff
}

.nav-links{
	display: flex;
	align-items: center;
}

.nav-links li{
	margin: 0 30px;
/*	color: white;*/
}

.menuBtnImg{
	width: 50px;
	height: auto;
}

/*============================================*/

.rankMainContainer{
	width: 90%;
	height: auto;
	background-color: grey;
	margin: auto;
	text-align: center;
	align-items: center;
}

.rankHeader{
	width: 90%;
	height: 10vh;
	background-color: yellow;
	margin:auto;
}

.rankListBox{
	width: 90%;
	height: auto;
	background-color: transparent;
	border: 1px solid aquamarine;
	margin: auto;
	text-align: left;
	
}

.tdImg{
	width: 10vw;
	height: auto;
}
/*
.rankFirst{
	text-align: center;
	justify-content: space-between;
}

.rankFirst > table {
	width: 80%;	
}


.barGraph1{
	width: 100%;
	
}

.barTd1{
	--size: 0.6;
}

.barTdData1{
	--width2:60%;
	width: var(--width2);
	background-color: indianred;
}
*/


.rankSecond{
	text-align: center;
	justify-content: space-between;
}

.rankSecond > table {
	width: 80%;	
}


.barGraph2{
	width: 100%;
	
}

.barTd2{
	--size: 0.4;
}

.barTdData2{
	--width: 40%;
	width: var(--width);
	background-color: yellowgreen;
}




.rankThird{
	text-align: center;
	justify-content: space-between;
}

.rankThird > table {
	width: 80%;	
}


.barGraph3{
	width: 100%;
	
}

/*.barTd3{
	--size: 0.2;
}*/

.barTdData3{
	--width: 20%;
	width: var(--width);
	background-color: skyblue;
}






.rankOne{
	text-align: center;
	justify-content: space-between;
	display: flex;
}

.rankOne > table {
	width: 80%;	
}


.barGraph1{
	width: 100%;
	
}

/*.barTd3{
	--size: 0.2;
}*/

.barTdData1{
	--width: 60%;
	width: var(--width);
	background-color: indianred;
}